html * {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
}

img {
  width: 100%;
}

h1 {
  font-size: 4.5rem;
  /* margin-top: 1em; */
}

.heading {
  position: absolute;
  left: 65%;

  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

@media (max-width: 600px) {
  .heading {
    left: 38%;

    top: 8%;
  }
}

#container {
  width: 100%;
  height: 100%;

  position: absolute;
}

#box {
  left: 20px;
  top: 160px;
  background-color: salmon;
}

#box2 {
  left: 200px;
  top: 200px;
  background-color: gold;
}

.box {
  width: 300px;
  min-height: 400px;

  position: absolute;

  border: solid 6px white;
  border-radius: 3px;
}
.box:focus-within {
  border-color: salmon;
}

.box header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em;
  cursor: move;
  width: 100%;
}

.box header p {
  color: rgb(84, 82, 82);
  max-width: 75px;
  font-weight: bold;
  justify-self: flex-start;
  /* border: solid 2px green; */
}
.box header button {
  text-align: center;
  justify-self: flex-end;
  height: 2em;
  width: 2em;
  border: solid 3px rgb(197, 186, 186);
  color: rgb(197, 186, 186);
  background-color: white;
  cursor: pointer;
  margin: 0;
}

.box h2 {
  color: rgb(20, 20, 20);
  padding: 0.5em 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.box article {
  padding: 0.5em 0.875em 1em;
  margin-bottom: 2em;
}

.content {
  padding: 1em 0;
  line-height: 1.4;
}

.active {
  border: 6px solid salmon;
}

.box header p {
  color: rgb(84, 82, 82);
  width: 100%;
  font-weight: bold;
}
.box header button {
  text-align: center;
  font-weight: bold;
  height: 2em;
  width: 2em;
  border: solid 3px rgb(197, 186, 186);
  color: rgb(197, 186, 186);
  background-color: white;
  cursor: pointer;
  margin: 0;
}

.box header button:hover,
button:focus {
  color: salmon;
  border-color: salmon;
}

.box article {
  padding: 0.3em 0.875em;
}

.active {
  border: 6px solid salmon;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
